/angular1/directive/v
/angular1/node_modules/
/angular1/app/childrenrepeat/*.js
/angular1/package-lock.json
/angular1/app/boot.js
/angular4/node_modules/
/angular4/test/
/angular4/module/**/*.js
/angular4/directive/**/*.js
/angular4/pipe/**/*.js
/angular4/service/**/*.js
/angular4/src/**/*.js
/angular4/node_modules/
/angular4/dist/