   <section>
    

<h1>Finder Field</h1>
        <div class="controller" ng-app="app" ng-controller="Finder">
            {{friend}}
              <form name="formFinder"  class="css-form" >
                    <h2> single</h2>
                  <div class="scope">    {{user.Car}}</div>
                    <select  ng-model="user.Car"  name="uCar" finder-field="4" >
                            <option value="1">Volvo</option>
                            <option value="2">Saab</option>
                            <option value="3">Mercedes</option>
                            <option value="4">Audi</option>
                            <option value="5">Laguna</option>
                            <option value="6">Opel</option>
                            <option value="7">Ford</option>
                            <option value="8">Peugeot</option>
                            
                    </select>
                  
                  <br/>
                  <div class="scope">   {{user.Model}}</div>
                      <select  ng-model="user.Model"  name="uModel" finder-field="4" >
                            <option value="1">Volvo</option>
                            <option value="2">Saab</option>
                            <option value="3">Mercedes</option>
                            <option value="4">Audi</option>
                            <option value="5">Laguna</option>
                            <option value="6">Opel</option>
                            <option value="7">Ford</option>
                            <option value="8">Peugeot</option>
                    </select>
                    <br/>
                    <h2> multiple</h2>
                    <div class="scope">   {{user.Multi}}</div>
                    <select  ng-model="user.Multi"  name="uModel" finder-field="4" multiple  >
                            <option value="1">Volvo</option>
                            <option value="2">Saab</option>
                            <option value="3">Mercedes</option>
                            <option value="4">Audi</option>
                            <option value="5">Laguna</option>
                            <option value="6">Opel</option>
                            <option value="7">Ford</option>
                            <option value="8">Peugeot</option>
                    </select>
                    
              </form>

       </div>
    
    </section>