* {
    margin: 0;
    padding: 0;
}

body{
          
            font-family:  "arial";
            font-size: 0.8em;
            color:#333;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
.clearfix {
}

h1{ font-size: 25px;  color:#555; padding-bottom: 10px;}
h2{ font-size: 20px; color:#555;  padding-bottom: 10px;}
h3{ font-size: 15px; color:#999;  padding-bottom: 10px;}

.controller{    
    margin: 20px 0;
    border:#ddd solid 1px;
    padding: 20px;
    margin-bottom: 20px;
    background:#fff;
 


}
.scope{
    color:orange;
     background: #fdfdfd;
     margin-bottom: 10px;
     border:#ddd solid 1px; 
     padding: 10px;
}
.scope:before {
     content: "SCOPE:";
         display: block;
}

.error{
    color:red;
}

.reception{border:#000 dashed 1px;
           margin:10px 0;
           padding: 10px;
           list-style: none;
}

li{
    border-bottom:#ddd solid 1px; 
}

#menu{
    background:#ddd;
    width: 150px; 
    border-right:#ccc solid 1px;
    height:100%;
    position: fixed;
    list-style: none;
}
#menu li a{
     text-decoration: none;
     display: block;
     padding: 10px;
     border-bottom:#ccc solid 1px;
     color:#444;
    
    
}
#menu li a:hover{
    animation: fadeMenu 0.5s;
    -webkit-animation: fadeMenu 0.5s; /* Chrome, Safari, Opera */
    background:#eee;
}

@-webkit-keyframes fadeMenu { 
    from {  background:#ddd;}
    to {  background:#eee;}
}

@keyframes fadeMenu {
    from {  background:#ddd;}
    to {  background:#eee;}
} 

#warpper{
    margin-left: 150px;
    padding: 20px;
}

.list-child ul{
        padding: 20px;
}
.list-child li{
    border-bottom: 0;
}


.childDrop .ng-drop-active::after {
    display: block;
    margin:10px 0;
    margin-left: 20px;
    background:#f8f8f8;
  
 
    content: "+";
    text-align: center;
  
        
}
.childDrop .ng-drag{
    color:#ddd;
}
.childDrop .ng-drag + *{
    color:#ddd;
}
.childDrop .ng-drop-error{
    background:none;
}

.childDrop .ng-drop{
   background:none;
    border:none;
}
.childDrop .ng-drop-active{
    background:none;
    border:none;
}

pre {
    background-color:#fff!important;

}