<section>
    
      <h1>Children-repeat (compile)</h1>
        <div class="controller" ng-app="app" ng-controller="ChildrenRepeat">
          
                  <ul>
                       <li children-repeat="item in sample track by children">
                                    {{item.title}}  [ index: {{$item.id}} , level:{{$item.level}}  ] 
                                    <span ng-click="pushIn($item.parent)"> push</span> 
                                    <div ng-click="pushAfter(item)">
                                               [ AddChild level: {{$item.level+1}} ] 
                                    </div>
                        </li>
                  </ul>

                  {{sample}}
       </div>
    
</section>