<section>
      <h1>Children-option</h1>
        <div class="controller childDrop" ng-app="app" ng-controller="ChildrenRepeat">
            {{result}}
                <select children-option="id as title in sample track by children" required multiple ng-model="result" >

                </select>
            <br/>
            <br/>
            <br/>
             {{result2}}
                <select children-option="id as title in sample track by children" required ng-model="result2" >

                </select>
            
        </div>
</section>
