<section>
    <h1>Drag and Drop </h1>

  

    <div class="controller" ng-controller="NgDrag" >
          <h2> CONTROLLER 1 ( NgDrag ) </h2>
        <h3>List Item 1</h3>
        First Item Name :
      
        <input ng-model="pItem1[0].name" />
        <br/>
        <div class="scope"> {{pItem1}}</div>
        <ul class="reception" ng-drop=" callback : 'add(pItem1,$transport)' " >
            <li ng-repeat="item in pItem1">
                <div  ng-drag=" namespace : 'groupe1' ,  transport : 'item' , callback : 'remove(pItem1,$index)' "   > {{item.name}}  </div>
            </li>
        </ul>

        <h3>List Item 2 (Constraint $transport.name="cap")</h3>
        First Item Name :
        <input ng-model="pItem2[0].name" />
          <br/>
        <div class="scope"> {{pItem2}}</div>
        <ul class="reception" ng-drop=" namespace : 'groupe1' , constraint: 'isValid($transport)' , callback : 'add(pItem2,$transport)'  "  >
            <li ng-repeat="item in pItem2"   >
                <div ng-drag=" transport : 'item' ,  callback : 'remove(pItem2,$index)'  " > {{item.name}}</div>
            </li>
        </ul>
    </div>

    <div class="controller" ng-controller="NgDrag" >
        <h2>CONTROLLER 2  ( NgDrag )</h2>
        <h3>List Item 2</h3>
        First Item Name :
        <input ng-model="pItem2[0].name" />
        <br/>
        <div class="scope"> {{pItem2}}</div>
        <ul class="reception" ng-drop="namespace : 'groupe1' , callback :  'add(pItem2,$transport)'" >
            <li ng-repeat="item in pItem2"   >
                <div ng-drag="transport : 'item'" > {{item.name}}</div>
            </li>
        </ul>
    </div>
</section>